<div class="col-md-4">
  <div class="card mb-4 box-shadow">
    <img class="card-img-top" src="<%= url_for(recipient.cover_photo.variant(resize_to_fill: [350, 350])) %>" alt="<%= recipient.name %>">
    <div class="card-body">
      <h3><%= recipient.name %></h3>
      <p class="card-text">
        <%= recipient.story %>
      </p>
      <div class="progress">
        <div class="progress-bar bg-primary" role="progressbar" style="width: <%= recipient.progress %>%" aria-valuenow="<%= recipient.progress %>" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <h4 class="py-3"><%= recipient.progress %>% supported</h4>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
         <%# mail_to(
           'help@helpsomebody.co.za',
           "Help #{recipient.name}",
           subject: email_subject(recipient),
           body: email_body(recipient),
           class: 'btn btn-info'
          ) %>
        <% if recipient.needs_funding? %>
          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-<%= recipient.id %>">
            Help <%= recipient.name %>
          </button>
        <% end %>
        </div>
        <div class="modal fade" id="modal-<%= recipient.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Help <%= recipient.name %></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <%= form_with(model: Pledge.new, local: true) do |f| %>
                  <%= f.hidden_field(:recipient_id, value: recipient.id) %>
                  <%= f.fields_for :donor_attributes do |donor_form| %>
                    <%= donor_form.label :email %>
                    <%= donor_form.email_field :email %>
                    <%= donor_form.label :phone_number %>
                    <%= donor_form.text_field :phone_number %>
                  <% end %>
                  <%= f.submit("Go!", class: "btn btn-primary") %>
                <% end %>
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
