<main role="main">

      <div class="container marketing py-5">
        
        <h1>How it Works</h1>

        <!-- Three columns of text below the carousel -->
        <div class="row py-5">
          <div class="col-lg-4">
            <img class="rounded-circle my-3" src="<%= image_path('find.png') %>" alt="Generic placeholder image" width="140" height="140">
            <h2>1. We Find</h2>
            <p>We have agents on site in communities who identify suitable recipients and sign them up.</p>
            <p> Our agents vet the recipients to make sure that we give money to those who are in need and will use the money wisely.</p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle  my-3" src="<%= image_path('help.png') %>" alt="Generic placeholder image" width="140" height="140">
            <h2>2. We Help</h2>
            <p>Every week, each recipient receives a voucher by SMS message.</p>
            <p>They can spend this voucher at local retailers on whatever they most need, be it food, household items, hygene or even airtime and electricity.</p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle  my-3" src="<%= image_path('understand.png') %>" alt="Generic placeholder image" width="140" height="140">
            <h2>3. We Understand</h2>
            <p>Our retail partners give us all the detail of what each voucher was spent on, so that we can identify mis-use of the vouchers.</p>
            <p>We give you a full break-down of what your donation was spent on.</p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Safe and Anonymous</h2>
            <p class="lead">
              To protect your privacy, your recipients don't ever know who you are.
            </p>
            <p>
              Our recipients receive their support via an SMS message containing a voucher. 
              The voucher is completely traceable, which protect both our agent and recipients from being targeted by criminals.
            </p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 300px;" src="<%= image_path('safe.jpg') %>" data-holder-rendered="true">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Fully Local</h2>
            <p class="lead">
              We connect you to people in your immediate area, 
              letting you create an impact in your own community.
            </p>
            <p>
              We hand-pick people to receive donations, based on a model that has been proven to 
              work (direct monetary contributions to woman-led households).
            </p>
            <p>
              We focus on the families who are marginalised or excluded by the existing social grants and other welfare.
            </p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="<%= image_path('local.png') %>" data-holder-rendered="true" style="width: 300px;">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Every Cent Accounted</h2>
            <p class="lead">
              We use technology to distribute money efficiently, 
              so that none of the the money you donate goes into logistics and 
              your donation has the maximum impact.
            </p>
            <p>
              Our platform is completely transparent, so you can see exactly what every rand of your donation was spent on.
            </p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="<%= image_path('accounted.jpg') %>" data-holder-rendered="true" style="width: 300px;">
          </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->
    </main>