<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Help Somebody" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Help Somebody" %>">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap" rel="stylesheet">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
    <footer class="text-light text-center bg-primary pb-3 pt-4">
      <div class="container">
        <p>Help Somebody is a non-profit organisation dedicated to providing effective poverty alleviation.</p>
        <p><a href="mailto:hello@helpsomebody.co.za">Get in Touch</a></p>
      </div>
    </footer>
  </body>
</html>