<div class="container">
  <div class="row">
    <div class="col">
      <h1>Vouchers</h1>
    </div>
    <div class="col-auto my-2">
      <span>
        <%= form_tag(voucher_create_path, class: 'form-inline right') do %>
          <%= submit_tag 'Create', class: 'btn btn-primary' %>
          <div class="form-group mx-3">
            <%= number_field_tag :quantity, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= label_tag :amount_in_rands, 'vouchers for', class: 'mr-3' %>
            R<%= number_field_tag :amount_in_rands, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= label_tag :merchant_id, ' at ', class: 'mx-3' %>
            <%= select_tag :merchant_id, options_from_collection_for_select(Merchant.all, :id, :title), class: 'form-control' %>
          </div>
        <% end %>
      <span>
    </div>
  </div>
  <ul class="nav nav-pills">
    <% Voucher::STATES.each do |state| %>
    <li class="nav-item">
      <a class="nav-link <%= params[:state] == state ? 'active' : ''%>" href="?state=<%= state %>"><%= state.titleize %></a>
    </li>
    <% end %>
  </ul>
  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th scope="col">Code</th>
        <th scope="col">Merchant</th>
        <th scope="col">Recipient</th>
        <th scope="col">Amount</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @vouchers.each do |voucher| %>
      <tr>
        <th scope="row"><%= voucher.code %></th>
        <td><%= voucher.merchant&.title %></td>
        <td><%= voucher.recipient&.title %></td>
        <td><%= voucher.amount_in_rands %></td>
        <td>
          <% if voucher.recipient.blank? %>
            <%= form_with(model: voucher, local: true) do |f| %>
              <%= f.collection_select(:recipient_id, Recipient.all, :id, :title) %>
              <%= f.hidden_field(:state, value: 'allocated') %>
              <%= f.submit("Allocate") %>
            <% end %>
          <% end %>
          <%= link_to("Send Message", voucher, class: 'btn btn-primary') if voucher.state == 'allocated' %>
          <%= link_to("Track Expenses", voucher, class: 'btn btn-primary') if voucher.state == 'sent' %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
